body {
  font-family: sans-serif;
}
input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
}
button {
  border-radius: 16px;
  border: none;
  padding: 10px;
}
button:hover {
  background-color: #cccccc;
  cursor: pointer;
}
.input-area {
  background-color: #f4f0e6;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}
.incomplete-area {
  background-color: #9dd3a8;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}
.complete-area {
  background-color: #d9d9f3;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}
.title {
  text-align: center;
  margin-top: 0px;
  font-weight: bold;
  color: #555555;
}
.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}
